/* src/components/HomePage.css */
.home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
    text-align: center;
}

.home-message {
    font-size: 3rem;
    font-weight: bold;
    color: #28a745;
    animation: fadeIn 2s ease-in-out;
}

/* Fade-in keyframes */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}